@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-800;
    @apply dark:text-gray-200;

    @apply bg-gray-50;
    @apply dark:bg-gray-950;
}

a {
    @apply underline; 
    @apply underline-offset-2;
}


/* width */
::-webkit-scrollbar {
    @apply w-1.5;
}

/* Track */
::-webkit-scrollbar-track {
    @apply rounded-md;
    @apply bg-gray-200/30;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-md;
    @apply bg-gray-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}
